/* reset */
$min-width: 320px; 
$max-width: 1200px; 
$base-bg: #FFF; 
$base-font-size: 13px; 
$base-line-height: 18px; 
$base-font-family: Arial, sans-serif; 
$custom-font-family: 'Open Sans', sans-serif; 
$link-color: #100da9;
$default-transition:all 0.2s linear;